./color-theme-6.6.0/color-theme-autoloads.elc
./color-theme-6.6.0/color-theme.elc
./egg/egg/sj3rpc.elc
./egg/egg/sj3.elc
./egg/egg/wnn.elc
./egg/egg/wnnrpc.elc
./egg/egg/anthy.elc
./egg/egg/cannarpc.elc
./egg/egg/canna.elc
./egg/egg/anthyipc.elc
./egg/its.elc
./egg/egg-cnv.elc
./egg/egg.elc
./egg/egg-edep.elc
./egg/leim-list.elc
./egg/its/hira.elc
./egg/its/kata.elc
./egg/its/ascii.elc
./egg/its/zenkaku.elc
./egg/its/bixing.elc
./egg/its/jeonkak.elc
./egg/its/hankata.elc
./egg/its/zhuyin.elc
./egg/its/jiskana.elc
./egg/its/quanjiao.elc
./egg/its/greek.elc
./egg/its/pinyin.elc
./egg/its/thai.elc
./egg/its/hangul.elc
./egg/its/erpin.elc
./egg/egg-sim.elc
./egg/egg-com.elc
./egg/its-keydef.elc
./egg/egg-mlh.elc
./egg/menudiag.elc
./xcscope/xcscope.elc
./auto-complete/fuzzy.elc
./auto-complete/auto-complete.elc
./auto-complete/popup.elc
./auto-complete/auto-complete-config.elc
./ecb/ecb-layout-defs.elc
./ecb/ecb-analyse.elc
./ecb/ecb-tod.elc
./ecb/ecb-cedet-wrapper.elc
./ecb/ecb-cycle.elc
./ecb/ecb-util.elc
./ecb/ecb-examples.elc
./ecb/ecb-file-browser.elc
./ecb/ecb-layout.elc
./ecb/ecb-mode-line.elc
./ecb/ecb-upgrade.elc
./ecb/ecb-create-layout.elc
./ecb/ecb-compilation.elc
./ecb/ecb-navigate.elc
./ecb/ecb.elc
./ecb/silentcomp.elc
./ecb/ecb-symboldef.elc
./ecb/ecb-speedbar.elc
./ecb/ecb-autogen.elc
./ecb/ecb-face.elc
./ecb/ecb-method-browser.elc
./ecb/ecb-advice-test.elc
./ecb/ecb-help.elc
./ecb/ecb-winman-support.elc
./ecb/ecb-eshell.elc
./ecb/tree-buffer.elc
./ecb/ecb-jde.elc
./ecb/ecb-compatibility.elc
./ecb/ecb-common-browser.elc
./cedet/eieio/eieio-comp.elc
./cedet/eieio/linemark.elc
./cedet/eieio/eieio-datadebug.elc
./cedet/eieio/eieio-load.elc
./cedet/eieio/eieio-base.elc
./cedet/eieio/eieio-custom.elc
./cedet/eieio/eieio-opt.elc
./cedet/eieio/eieio-speedbar.elc
./cedet/eieio/eieio-doc.elc
./cedet/eieio/chart.elc
./cedet/eieio/lmcompile.elc
./cedet/eieio/eieio.elc
./cedet/contrib/wisent-csharp.elc
./cedet/contrib/semantic-ectag-scala.elc
./cedet/contrib/wisent-ruby-wy.elc
./cedet/contrib/semantic-tag-folding.elc
./cedet/contrib/eassist.elc
./cedet/contrib/wisent-ruby.elc
./cedet/contrib/ede-gnustep.elc
./cedet/contrib/cedet-contrib.elc
./cedet/contrib/cedet-contrib-load.elc
./cedet/contrib/wisent-php-wy.elc
./cedet/contrib/wisent-csharp-wy.elc
./cedet/contrib/wisent-php.elc
./cedet/cogre/cogre-uml.elc
./cedet/cogre/cogre-load.elc
./cedet/cogre/cogre-periodic.elc
./cedet/cogre/cogre-dot-mode.elc
./cedet/cogre/cogre-ascii.elc
./cedet/cogre/cogre-mode.elc
./cedet/cogre/cogre-srecode.elc
./cedet/cogre/cogre-layout.elc
./cedet/cogre/wisent-dot.elc
./cedet/cogre/cogre-convert.elc
./cedet/cogre/cogre-utest.elc
./cedet/cogre/cogre.elc
./cedet/cogre/cogre-semantic.elc
./cedet/cogre/wisent-dot-wy.elc
./cedet/cogre/picture-hack.elc
./cedet/tests/cit-gnustep.elc
./cedet/tests/cedet-integ-test.elc
./cedet/tests/cit-cpp.elc
./cedet/tests/cit-dist.elc
./cedet/tests/cit-projvar.elc
./cedet/tests/cit-uml.elc
./cedet/tests/cit-load.elc
./cedet/tests/cit-symref.elc
./cedet/tests/cit-android.elc
./cedet/tests/cit-el.elc
./cedet/tests/cit-arduino.elc
./cedet/tests/cit-srec.elc
./cedet/tests/cit-texi.elc
./cedet/tests/cit-externaldb.elc
./cedet/semantic/semanticdb-global.elc
./cedet/semantic/semantic-scope.elc
./cedet/semantic/bovine/semantic-el.elc
./cedet/semantic/bovine/semantic-bovine.elc
./cedet/semantic/bovine/semantic-scm-by.elc
./cedet/semantic/bovine/semantic-clang.elc
./cedet/semantic/bovine/bovine-grammar.elc
./cedet/semantic/bovine/semantic-erlang.elc
./cedet/semantic/bovine/semantic-make.elc
./cedet/semantic/bovine/semantic-c.elc
./cedet/semantic/bovine/semantic-gcc.elc
./cedet/semantic/bovine/semantic-scm.elc
./cedet/semantic/bovine/semantic-f90.elc
./cedet/semantic/bovine/bovine-grammar-macros.elc
./cedet/semantic/bovine/semantic-java.elc
./cedet/semantic/bovine/semantic-c-by.elc
./cedet/semantic/bovine/bovine-debug.elc
./cedet/semantic/bovine/semantic-make-by.elc
./cedet/semantic/bovine/semantic-f90-by.elc
./cedet/semantic/bovine/semantic-erlang-by.elc
./cedet/semantic/semantic-sb.elc
./cedet/semantic/semanticdb-debug.elc
./cedet/semantic/semantic-regtest.elc
./cedet/semantic/semantic-complete.elc
./cedet/semantic/semantic-tag-write.elc
./cedet/semantic/semantic-edit.elc
./cedet/semantic/semantic-tag.elc
./cedet/semantic/semantic-utest.elc
./cedet/semantic/semantic-ia.elc
./cedet/semantic/semantic-sort.elc
./cedet/semantic/semantic-tag-ls.elc
./cedet/semantic/semantic-grammar.elc
./cedet/semantic/semantic-idle.elc
./cedet/semantic/semantic-html.elc
./cedet/semantic/semantic-load.elc
./cedet/semantic/semantic-imenu.elc
./cedet/semantic/semantic-ast.elc
./cedet/semantic/semantic-util.elc
./cedet/semantic/semanticdb-ref.elc
./cedet/semantic/semanticdb-cscope.elc
./cedet/semantic/semantic.elc
./cedet/semantic/semantic-utest-c.elc
./cedet/semantic/semantic-ctxt.elc
./cedet/semantic/semantic-analyze.elc
./cedet/semantic/semantic-fw.elc
./cedet/semantic/semanticdb-search.elc
./cedet/semantic/semantic-m3.elc
./cedet/semantic/semantic-analyze-fcn.elc
./cedet/semantic/semantic-mru-bookmark.elc
./cedet/semantic/semantic-chart.elc
./cedet/semantic/semantic-elp.elc
./cedet/semantic/semanticdb-el.elc
./cedet/semantic/semanticdb-javap.elc
./cedet/semantic/semantic-tag-file.elc
./cedet/semantic/semanticdb-mode.elc
./cedet/semantic/semantic-dep.elc
./cedet/semantic/semantic-doc.elc
./cedet/semantic/wisent/wisent-java-wy.elc
./cedet/semantic/wisent/wisent-grammar-macros.elc
./cedet/semantic/wisent/wisent-expr.elc
./cedet/semantic/wisent/wisent-java-tags-wy.elc
./cedet/semantic/wisent/wisent-calc.elc
./cedet/semantic/wisent/wisent-cim-wy.elc
./cedet/semantic/wisent/wisent-comp.elc
./cedet/semantic/wisent/wisent-debug.elc
./cedet/semantic/wisent/wisent-python-wy.elc
./cedet/semantic/wisent/semantic-wisent.elc
./cedet/semantic/wisent/wisent-javascript.elc
./cedet/semantic/wisent/wisent.elc
./cedet/semantic/wisent/bison-wisent.elc
./cedet/semantic/wisent/wisent-java.elc
./cedet/semantic/wisent/wisent-calc-wy.elc
./cedet/semantic/wisent/wisent-javascript-jv-wy.elc
./cedet/semantic/wisent/wisent-awk-wy.elc
./cedet/semantic/wisent/wisent-grammar.elc
./cedet/semantic/wisent/wisent-python.elc
./cedet/semantic/wisent/wisent-java-tags.elc
./cedet/semantic/semantic-decorate-include.elc
./cedet/semantic/semantic-decorate-mode.elc
./cedet/semantic/semantic-util-modes.elc
./cedet/semantic/semanticdb-file.elc
./cedet/semantic/semantic-ia-sb.elc
./cedet/semantic/symref/semantic-symref-global.elc
./cedet/semantic/symref/semantic-symref-cscope.elc
./cedet/semantic/symref/semantic-symref-list.elc
./cedet/semantic/symref/semantic-symref.elc
./cedet/semantic/symref/semantic-symref-grep.elc
./cedet/semantic/symref/semantic-symref-idutils.elc
./cedet/semantic/symref/semantic-symref-filter.elc
./cedet/semantic/semanticdb-javascript.elc
./cedet/semantic/ctags/semanticdb-ectag.elc
./cedet/semantic/ctags/semantic-ectag-parse.elc
./cedet/semantic/ctags/semantic-ectag-util.elc
./cedet/semantic/ctags/semantic-ectag-lang.elc
./cedet/semantic/ctags/semantic-ectag-lang2.elc
./cedet/semantic/semantic-analyze-complete.elc
./cedet/semantic/semantic-lex-spp.elc
./cedet/semantic/semantic-ia-utest.elc
./cedet/semantic/semantic-texi.elc
./cedet/semantic/semantic-custom.elc
./cedet/semantic/semantic-analyze-debug.elc
./cedet/semantic/semantic-lex.elc
./cedet/semantic/semantic-adebug.elc
./cedet/semantic/semanticdb-typecache.elc
./cedet/semantic/semantic-grammar-wy.elc
./cedet/semantic/semantic-debug.elc
./cedet/semantic/semanticdb-find.elc
./cedet/semantic/semanticdb-ebrowse.elc
./cedet/semantic/semantic-fmt-utest.elc
./cedet/semantic/semanticdb-mk.elc
./cedet/semantic/semanticdb.elc
./cedet/semantic/senator.elc
./cedet/semantic/semantic-decorate.elc
./cedet/semantic/semantic-format.elc
./cedet/semantic/semantic-find.elc
./cedet/semantic/semantic-analyze-refs.elc
./cedet/common/cedet-java.elc
./cedet/common/cedet-graphviz.elc
./cedet/common/cedet-android.elc
./cedet/common/pulse.elc
./cedet/common/cedet-files.elc
./cedet/common/pprint.elc
./cedet/common/working.elc
./cedet/common/cedet-m3.elc
./cedet/common/cedet-edebug.elc
./cedet/common/cedet-global.elc
./cedet/common/cedet-cscope.elc
./cedet/common/cedet-autogen.elc
./cedet/common/data-debug.elc
./cedet/common/cedet-load.elc
./cedet/common/cedet-compat.elc
./cedet/common/fame.elc
./cedet/common/mode-local.elc
./cedet/common/cedet-idutils.elc
./cedet/common/cedet-utests.elc
./cedet/common/cedet.elc
./cedet/common/ezimage.elc
./cedet/common/inversion.elc
./cedet/speedbar/speedbar.elc
./cedet/speedbar/dframe.elc
./cedet/speedbar/speedbar-load.elc
./cedet/ede/ede-proj-shared.elc
./cedet/ede/autoconf-compat.elc
./cedet/ede/ede-proj-scheme.elc
./cedet/ede/ede-proj-archive.elc
./cedet/ede/ede-auto.elc
./cedet/ede/ede-util.elc
./cedet/ede/ede-files.elc
./cedet/ede/ede-base.elc
./cedet/ede/ede-proj-info.elc
./cedet/ede/ede-pconf.elc
./cedet/ede/ede-emacs.elc
./cedet/ede/ede-proj-obj.elc
./cedet/ede/ede.elc
./cedet/ede/ede-arduino.elc
./cedet/ede/ede-dired.elc
./cedet/ede/ede-proj-misc.elc
./cedet/ede/ede-shell.elc
./cedet/ede/ede-source.elc
./cedet/ede/project-am.elc
./cedet/ede/ede-proj-aux.elc
./cedet/ede/ede-custom.elc
./cedet/ede/ede-cpp-root.elc
./cedet/ede/ede-proj.elc
./cedet/ede/makefile-edit.elc
./cedet/ede/ede-proj-prog.elc
./cedet/ede/ede-android.elc
./cedet/ede/ede-locate.elc
./cedet/ede/ede-proj-comp.elc
./cedet/ede/ede-pmake.elc
./cedet/ede/ede-m3.elc
./cedet/ede/ede-srecode.elc
./cedet/ede/ede-linux.elc
./cedet/ede/ede-speedbar.elc
./cedet/ede/ede-load.elc
./cedet/ede/ede-system.elc
./cedet/ede/ede-generic.elc
./cedet/ede/ede-make.elc
./cedet/ede/autoconf-edit.elc
./cedet/ede/ede-proj-elisp.elc
./cedet/srecode/srecode-find.elc
./cedet/srecode/srecode-template-wy.elc
./cedet/srecode/srecode-fields.elc
./cedet/srecode/srecode-texi.elc
./cedet/srecode/srecode-getset.elc
./cedet/srecode/srecode-test-getset.elc
./cedet/srecode/srecode-load.elc
./cedet/srecode/srecode-compile.elc
./cedet/srecode/srecode-java.elc
./cedet/srecode/srecode-srt.elc
./cedet/srecode/srecode-dictionary.elc
./cedet/srecode/srecode-test.elc
./cedet/srecode/srecode-cpp.elc
./cedet/srecode/srecode-template.elc
./cedet/srecode/srecode-expandproto.elc
./cedet/srecode/srecode-document-vars.elc
./cedet/srecode/srecode-mode.elc
./cedet/srecode/srecode-table.elc
./cedet/srecode/srecode-android.elc
./cedet/srecode/srecode-semantic.elc
./cedet/srecode/srecode-insert.elc
./cedet/srecode/srecode.elc
./cedet/srecode/srecode-document.elc
./cedet/srecode/srecode-m3.elc
./cedet/srecode/srecode-el.elc
./cedet/srecode/srecode-map.elc
./cedet/srecode/srecode-extract.elc
./cedet/srecode/srecode-ctxt.elc
./cedet/srecode/srecode-template-mode.elc
./cedet/srecode/srecode-filters.elc
./cedet/srecode/srecode-args.elc
./git/git-global-keys.elc
./git/git-modeline.elc
./git/git-log.elc
./git/git-status.elc
./git/git-emacs.elc
./git/git-emacs-autoloads.elc
./git/git--test.elc
./git/git-blame.elc

*.elc
