[submodule "yasnippet"]
	path = yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule "emacs-clang-complete-async"]
	path = emacs-clang-complete-async
	url = https://github.com/Golevka/emacs-clang-complete-async.git
[submodule "multiple-cursors"]
	path = multiple-cursors
	url = https://github.com/emacsmirror/multiple-cursors.git
[submodule "web-mode"]
	path = web-mode
	url = https://github.com/fxbois/web-mode
[submodule "enhanced-ruby-mode"]
	path = enhanced-ruby-mode
	url = https://github.com/zenspider/enhanced-ruby-mode.git
