[submodule "yasnippet"]
	path = yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule "emacs-clang-complete-async"]
	path = emacs-clang-complete-async
	url = https://github.com/Golevka/emacs-clang-complete-async.git
[submodule "multiple-cursors"]
	path = multiple-cursors
	url = https://github.com/emacsmirror/multiple-cursors.git
[submodule "web-mode"]
	path = web-mode
	url = https://github.com/fxbois/web-mode
[submodule "enhanced-ruby-mode"]
	path = enhanced-ruby-mode
	url = https://github.com/zenspider/enhanced-ruby-mode.git
[submodule "ergoemacs-mode"]
	path = ergoemacs-mode
	url = https://github.com/ergoemacs/ergoemacs-mode.git
	branch = master
[submodule "yasnippet-ruby-mode"]
	path = yasnippet-ruby-mode
	url = git@github.com:bmaland/yasnippet-ruby-mode.git
[submodule "yas-rails"]
	path = yas-rails
	url = git://github.com/eschulte/yasnippets-rails.git
[submodule "emacs-rails"]
	path = emacs-rails
	url = git://github.com/remvee/emacs-rails.git
[submodule "ecb"]
	path = ecb
	url = https://github.com/emacsmirror/ecb.git
